body {
    background: #F3F3F3;
}

/* CSS Header */

.container-fluid {
    padding: 0;
}

li,
.text-brand-gasspoll {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

.navbar {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    border-bottom: 2px solid rgba(196, 196, 196, 0.15);
    z-index: 99;
}

.nav-links {
    list-style: none;
    margin-top: 16px;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a:hover {
    color: #fff;
    text-decoration: none;
}

.btn-category-wrapper {
    margin: 16px 0;
}

.btn-category-wrapper:hover {
    text-decoration: none;
}

.btn-login-wrapper {
    margin: 16px 0;
}

.btn-login-wrapper:hover {
    text-decoration: none;
}

.icon-choose-category {
    margin: 12px 0;
    margin-right: 16px;
}

.choose-category {
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
}

.login {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    margin-right: 16px;
}

#text-login-wrapper {
    padding: 0;
}

#carousel-wrapper {
    margin-top: -100px;
    margin-bottom: 64px;
}

.carousel-indicators {
    justify-content: flex-end !important;
}

/* End CSS Header */

.image-motocycle-category {
    margin-bottom: 64px;
}

/* CSS Search */
.search-wrapper {
    margin-bottom: 64px;
}

.search-wrapper .text-title {
    color: #EC2A2B;
    font-weight: bold;
    font-size: 28px;
}

.search-wrapper .text-caption {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 16px;
}

.search-form-wrapper {
    width: 100%;
    background: #FFF;
    padding: 42px;
}

#search-main {
    margin-bottom: 16px;
}

.search-form {
    width: 100%;
}

.form-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    color: #333;
    font-size: 14px;
    padding: 0.5em 1em 0.5em 0;
    width: 100%;
}

.form-input:focus {
    border-color: #EC2A2B;
    outline: 0;
}

.form-group {
    margin-bottom: 16px;
}

.btn {
    width: 100%;
    background: #EC2A2B;
    border: #EC2A2B;
    font-weight: bold;
}

.btn:hover {
    color: #fff;
    background-color: #CA0E0E;
    border-color: #CA0E0E;
}

.btn:focus {
    color: #fff;
    background-color: #EC2A2B;
    border-color: #EC2A2B;
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}

.filter-wrapper .text-filter {
    font-size: 16px;
    color: #aaaaaa;
    margin-bottom: 16px;
}

#slider-price,
#slider-year,
#slider-mileage {
    margin: 10px 0;
}

.form-control:disabled {
    background: transparent;
    border: none;
    color: #EC2A2B;
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    width: 100%;
}

#filter-main {
    margin-bottom: 16px;
}

.search-form-wrapper label {
    font-size: 14px;
    font-weight: 500;
    color: #C4C4C4;
}

/* End CSS Search */

/* CSS Latest Posts */

.latest-posts-wrapper {
    margin-bottom: 64px;
}

.latest-posts-wrapper .text-title {
    color: #EC2A2B;
    font-weight: bold;
    font-size: 28px;
}

.latest-posts-wrapper .text-caption {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 16px;
}

.latest-posts-card-wrapper {
    background: #FFF;
    padding: 42px;
}

.card {
    background: transparent;
    border: none;
}

.card-title-latest-posts {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.card-title-latest-posts:hover {
    text-decoration: none;
    color: #3a3a3a;
}

.card-location-latest-posts {
    margin-top: .5rem;
    font-size: 14px;
    color: #8a8a8a;
    font-weight: 200;
}

.card-body {
    padding: 16px 0;
}

#line {
    padding: 16px;
}

.line {
    background: #c4c4c4;
    height: 1px;
}

#icon-shop {
    padding: 0;
}

.card-price {
    font-weight: bold;
    font-size: 16px;
}

#card-ads {
    background: url("../asset/image/bg-ads-1.png");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 69px 32px;
}

.text-tags {
    border-radius: 3px;
    width: 49px;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    background: #EC2A2B;
    padding: 2px 5px;
    margin-bottom: 32px;
}

.text-motocycle-type {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.text-motocycle-series {
    color: #FFF;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 32px;
}

.btn-more-info {
    width: 40%;
    height: 45px;
    padding: 8px 0;
    background: rgba(255, 255, 255, 0.25);
    border: #EC2A2B;
    font-weight: bold;
}

.btn:hover {
    color: #fff;
    background-color: #CA0E0E;
    border-color: #CA0E0E;
}

.btn:focus {
    color: #fff;
    background-color: #EC2A2B;
    border-color: #EC2A2B;
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}

.latest-posts-card {
    margin-bottom: 42px;
}

.load-more-wrapper {
    text-align: center;
}

.icon-refresh {
    margin-right: 16px;
}

.text-load-more {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

.load-more:hover {
    text-decoration: none;
}

/* End CSS Latest Posts */

/* CSS Special Deals */

.special-deals-wrapper {
    margin-bottom: 64px;
}

.card {
    background: transparent;
    border: none;
}

#card-special-deals {
    background: #FFF;
}

#card-row-1 {
    margin-bottom: 24px;
}

.card-title-special-deals {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.card-title-special-deals:hover {
    text-decoration: none;
    color: #3a3a3a;
}

.card-location-special-deals {
    margin-top: .5rem;
    font-size: 14px;
    color: #8a8a8a;
    font-weight: 200;
}

.card-body {
    padding: 16px 24px;
}

#line {
    padding: 16px;
}

.line {
    background: #c4c4c4;
    height: 1px;
}

#icon-shop {
    padding: 0;
}

.card-price {
    font-weight: bold;
    font-size: 16px;
}

#card-ads-special-deals {
    background: url("../asset/image/bg-ads-2.png");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 62px 0;
    align-items: center;
}

.text-title-ads-special-deals {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
}

.text-caption-ads-special-deals {
    color: #FFF;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 42px;
}

.text-hashtag-ads-special-deals {
    color: #FFF;
    font-weight: 500;
    font-size: 24px;
}

.icon-special-deals {
    width: 52px;
    height: 52px;
    margin-bottom: 32px;
}

.special-deals-card {
    margin-bottom: 42px;
}

.load-more-wrapper {
    text-align: center;
}

.icon-refresh {
    margin-right: 16px;
}

.text-load-more {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

.load-more:hover {
    text-decoration: none;
}

/* End CSS Special Deals */

/* CSS Ads */

.ads-container-wrapper {
    background: url("../asset/image/bg-ads-container.png");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 83px 0;
    color: #FFF;
    margin-bottom: 64px;
}

.text-title-ads-container {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 52px;
}

.text-caption-ads-container {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 24px;
}


.countdown {
    text-align: center;
    color: #FFF;
    margin-bottom: 42px;
}

#clock>div {
    padding: 20px 20px 0 20px;
    color: #fff;
    display: inline-block;
}

#clock>div>p {
    font-size: 18px;
    font-weight: bold;
}

#days,
#hours,
#minutes,
#seconds {
    padding: 20px 20px 0 20px;
    font-size: 36px;
    display: inline-block;
    width: 100%;
}

span.turn {
    animation: turn 0.7s ease;
}

@keyframes turn {
    0% {
        transform: rotateX(0deg)
    }

    100% {
        transform: rotateX(360deg)
    }
}

.btn-read-more {
    width: 15%;
    height: 45px;
    padding: 8px 0;
    background: rgba(255, 255, 255, 0.25);
    border: #EC2A2B;
    font-weight: bold;
}

.btn:hover {
    color: #fff;
    background-color: #CA0E0E;
    border-color: #CA0E0E;
}

.btn:focus {
    color: #fff;
    background-color: #EC2A2B;
    border-color: #EC2A2B;
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}

/* End CSS Ads */

/* CSS Footer */

.first-footer-wrapper {
    margin-bottom: 64px;
}

.about-gasspoll,
.privacy-policy-rules,
.tips,
.payment-method {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.what-gasspoll,
.contact-us,
.site-map,
.privacy-policy,
.general-rule,
.buying-selling-safe,
.use-joint-account,
.text-caption-payment-method {
    color: #AAA;
    font-size: 14px;
}

.what-gasspoll:hover,
.contact-us:hover,
.site-map:hover,
.privacy-policy:hover,
.general-rule:hover,
.buying-selling-safe:hover,
.use-joint-account:hover {
    text-decoration: none;
    color: #7A7A7A;
}

.what-gasspoll-link-wrapper,
.contact-us-link-wrapper,
.privacy-policy-link-wrapper,
.general-rule-link-wrapper,
.buying-selling-safe-link-wrapper,
.use-joint-account-link-wrapper {
    margin-bottom: 8px;
}

.text-caption-payment-method-wrapper {
    margin-bottom: 16px;
}

.image-bank {
    margin-bottom: 16px;
}

.logo-bank-bca,
.logo-bank-bri,
.logo-bank-mandiri,
.logo-bank-bni {
    width: 100%;
}

.secure-payment {
    font-size: 14px;
    color: #AAA;
}

.second-footer-wrapper {
    padding: 64px 0;
    background: #262626;
    width: 100%;
    text-align: center;
}

.text-title-footer {
    color: #FFF;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 24px;
}

.text-copyright {
    color: #AAA;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}

.icon-social-media-wrapper>div {
    padding: 0 20px;
    color: #fff;
    display: inline-block;
}

/* End CSS Footer */