body {
    background: #F3F3F3;
}

/* CSS Header */

.container-fluid {
    padding: 0;
}

li,
.text-brand-gasspoll {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

.navbar-wrapper {
    background: #EC2A2B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    border-bottom: 2px solid rgba(196, 196, 196, 0.15);
    z-index: 99;
    box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    margin-top: 16px;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a:hover {
    color: #fff;
    text-decoration: none;
}

.btn-category-wrapper {
    margin: 16px 0;
}

.btn-category-wrapper:hover {
    text-decoration: none;
}

.btn-login-wrapper {
    margin: 16px 0;
}

.btn-login-wrapper:hover {
    text-decoration: none;
}

.icon-choose-category {
    margin: 12px 0;
    margin-right: 16px;
}

.choose-category {
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
}

.login {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    margin-right: 16px;
}

#text-login-wrapper {
    padding: 0;
}

.header {
    background: #EC2A2B;
    text-align: center;
    padding: 42px 0 144px;
}

.text-title-header {
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 8px;
}

.navigation>div {
    padding: 0 4px;
    display: inline-block;
}

.navigation>div>span {
    color: #FFF;
    font-size: 12px;
}

/* End CSS Header */

/* CSS Main Content */

.main-content-wrapper {
    margin-top: -102px;
    background: #FFF;
    z-index: 99;
    border-radius: 5px;
    margin-bottom: 64px;
}

.main-content {
    padding: 96px 42px 64px;
}

.motorcycle-type {
    color: #EC2A2B;
    font-size: 12px;
    font-weight: bold;
}

.title-product {
    font-size: 28px;
    font-weight: bold;
}

.location-product {
    font-size: 12px;
    color: #AAA;
    font-weight: 400;
    margin-bottom: 32px;
}

.text-brand,
.text-year,
.text-type,
.text-mileage {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

.title-brand,
.title-year,
.title-type,
.title-mileage {
    font-size: 14px;
    font-weight: bold;
    color: #AAA;
}

#specification-row-1 {
    margin-bottom: 16px;
}

#specification-row-2 {
    margin-bottom: 32px;
}

.img-detail-product {
    width: 100%;
}

.text-price {
    margin: 6px 0;
    font-size: 24px;
    font-weight: bold;
}

.btn-send-message {
    width: 100%;
    height: 40px;
    background: #EC2A2B;
    border: #EC2A2B;
    font-weight: bold;
}

.btn:hover {
    color: #fff;
    background-color: #CA0E0E;
    border-color: #CA0E0E;
}

.btn:focus {
    color: #fff;
    background-color: #EC2A2B;
    border-color: #EC2A2B;
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}

.btn>span {
    font-size: 14px;
    color: #FFF;
}

.icon-message,
.icon-report {
    margin-right: 8px;
}

#price-row {
    margin-bottom: 24px;
}

.line-wrapper {
    margin-bottom: 24px;
}

.btn-add-to-favorite,
.btn-report {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    color: #AAA;
}

.btn-add-to-favorite:hover,
.btn-report:hover {
    text-decoration: none;
    color: #AAA;
}

.btn-add-to-favorite:focus,
.btn-report:focus {
    color: #AAA;
}

.btn-whatsapp,
.btn-share {
    background: #EC2A2B;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
}

.btn-whatsapp:hover,
.btn-share:hover {
    background: #CA0E0E;
}

.icon-whatsapp,
.icon-share {
    margin: 5px;
}

#btn-add-to-favorite-wrapper,
#btn-report-wrapper {
    margin-top: 8px;
}

.nav-link {
    font-size: 14px;
    color: #AAA;
}

.nav-link:hover {
    text-decoration: none;
    color: #747474;
}

.active {
    color: #EC2A2B;
    border-bottom: 2px solid #EC2A2B;
}

.active:hover {
    color: #EC2A2B;
    border-bottom: 2px solid #EC2A2B;
}

.description {
    background: #F3F3F3;
    padding: 42px 42px;
    color: #747474;
    font-weight: 500;
    font-size: 14px;
}

.description>p {
    margin: 0;
}

#card-releated-product {
    background: url("../asset/image/bg-releated-product.png");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 100px 0 100px 64px;
}

.icon-releated-product {
    width: 52px;
    height: 52px;
    margin-bottom: 16px;
}

.text-title-releated-product {
    color: #FFF;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 32px;
}

.btn-show-more {
    width: 45%;
    height: 45px;
    padding: 8px 0;
    background: rgba(255, 255, 255, 0.25);
    border: #EC2A2B;
    font-weight: bold;
}

.btn:hover {
    color: #fff;
    background-color: #CA0E0E;
    border-color: #CA0E0E;
}

.btn:focus {
    color: #fff;
    background-color: #EC2A2B;
    border-color: #EC2A2B;
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}

.card {
    background: transparent;
    border: none;
}

.card-title-releated-product {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.card-title-releated-product:hover {
    text-decoration: none;
    color: #3a3a3a;
}

.card-location-releated-product {
    margin-top: .5rem;
    font-size: 14px;
    color: #8a8a8a;
    font-weight: 200;
}

.card-body {
    padding: 16px 0;
}

#line {
    padding: 16px;
}

.line {
    background: #c4c4c4;
    height: 1px;
}

#icon-shop {
    padding: 0;
}

.card-price {
    font-weight: bold;
    font-size: 16px;
}

/* End CSS Main Content */

/* CSS Footer */

.first-footer-wrapper {
    margin-bottom: 64px;
}

.about-gasspoll,
.privacy-policy-rules,
.tips,
.payment-method {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.what-gasspoll,
.contact-us,
.site-map,
.privacy-policy,
.general-rule,
.buying-selling-safe,
.use-joint-account,
.text-caption-payment-method {
    color: #AAA;
    font-size: 14px;
}

.what-gasspoll:hover,
.contact-us:hover,
.site-map:hover,
.privacy-policy:hover,
.general-rule:hover,
.buying-selling-safe:hover,
.use-joint-account:hover {
    text-decoration: none;
    color: #7A7A7A;
}

.what-gasspoll-link-wrapper,
.contact-us-link-wrapper,
.privacy-policy-link-wrapper,
.general-rule-link-wrapper,
.buying-selling-safe-link-wrapper,
.use-joint-account-link-wrapper {
    margin-bottom: 8px;
}

.text-caption-payment-method-wrapper {
    margin-bottom: 16px;
}

.image-bank {
    margin-bottom: 16px;
}

.logo-bank-bca,
.logo-bank-bri,
.logo-bank-mandiri,
.logo-bank-bni {
    width: 100%;
}

.secure-payment {
    font-size: 14px;
    color: #AAA;
}

.second-footer-wrapper {
    padding: 64px 0;
    background: #262626;
    width: 100%;
    text-align: center;
}

.text-title-footer {
    color: #FFF;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 24px;
}

.text-copyright {
    color: #AAA;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}

.icon-social-media-wrapper>div {
    padding: 0 20px;
    color: #fff;
    display: inline-block;
}

/* End CSS Footer */