body {
    background: #F3F3F3;
}

/* CSS Header */

.container-fluid {
    padding: 0;
}

.nav-links,
.text-brand-gasspoll {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

.navbar-wrapper {
    background: #EC2A2B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    border-bottom: 2px solid rgba(196, 196, 196, 0.15);
    z-index: 99;
    box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.1);
}

.nav-links-wrapper {
    list-style: none;
    margin-top: 16px;
    padding: 0;
    margin: 0;
}

.nav-links-wrapper li {
    display: inline-block;
}

.nav-links-wrapper li a:hover {
    color: #fff;
    text-decoration: none;
}

.btn-category-wrapper {
    margin: 16px 0;
}

.btn-category-wrapper:hover {
    text-decoration: none;
}

.btn-login-wrapper {
    margin: 16px 0;
}

.btn-login-wrapper:hover {
    text-decoration: none;
}

.icon-choose-category {
    margin: 12px 0;
    margin-right: 16px;
}

.choose-category {
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
}

.login {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    margin-right: 16px;
}

#text-login-wrapper {
    padding: 0;
}

.header {
    background: #EC2A2B;
    text-align: center;
    padding: 42px 0 144px;
}

.text-title-header {
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 8px;
}

.navigation>div {
    padding: 0 4px;
    display: inline-block;
}

.navigation>div>span {
    color: #FFF;
    font-size: 12px;
}

/* End CSS Header */

/* CSS Sidebar */

.sidebar {
    border-right: 1px solid #c4c4c4;
}

.main-content-wrapper {
    margin-top: -102px;
    background: #FFF;
    z-index: 99;
    border-radius: 5px;
    margin-bottom: 64px;
}

#head-sidebar {
    line-height: 60px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #c4c4c4;
}

.head-title-sidebar {
    padding: 0 32px;
    border-right: 1px solid #c4c4c4;
}

.head-icon-reset {
    text-align: center;
}

.search-sidebar,
.category-sidebar,
.price-sidebar,
.mileage-sidebar,
.brand-sidebar,
.engine-capacity-sidebar,
.location-sidebar {
    font-size: 16px;
    font-weight: bold;
    padding: 32px 32px 0;
}

.title-search,
.title-category,
.title-price,
.title-mileage,
.title-brand,
.title-engine-capacity,
.title-location {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
}

.search-form {
    width: 100%;
}

.form-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    color: #333;
    font-size: 14px;
    padding: 0.5em 1em 0.5em 0;
    width: 100%;
}

.form-input:focus {
    border-color: #EC2A2B;
    outline: 0;
}

.main-category,
.filter-list-wrapper {
    margin: 0;
    padding: 0;
    padding-bottom: 16px;
    list-style: none;
    border-bottom: 1px solid #e4e4e4;
}

.category-sidebar .main-nav-list a {
    font-size: 14px;
    display: block;
    line-height: 32px;
}

.category-sidebar .main-nav-list a:hover {
    color: #EC2A2B;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

.main-category a {
    color: #000;
}

a {
    text-decoration: none;
}

.category-sidebar .main-nav-list a .number {
    color: #cccccc;
    margin-left: 16px;
}

#slider-price,
#slider-year,
#slider-mileage {
    margin: 10px 0;
}

.form-control:disabled {
    background: transparent;
    border: none;
    color: #EC2A2B;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}

.pixel-radio:checked {
    border: 7px solid #EC2A2B;
}

.pixel-radio {
    border-radius: 50%;
    top: 6px;
}

.pixel-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background: #fff;
    border: 1px solid #eee;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    outline: none;
    position: relative;
    z-index: 1;
}

.pixel-radio:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #EC2A2B;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    opacity: 0;
}

.filter-list label {
    margin-bottom: 3px;
    cursor: pointer;
    color: #000;
    font-size: 14px;
    line-height: 32px;
}

.brand-sidebar label .number,
.engine-capacity-sidebar label .number,
.location-sidebar label .number {
    color: #cccccc;
    margin-left: 16px;
}

/* End CSS Sidebar */

/* CSS Product Grid */

.card-wrapper {
    margin-bottom: 32px;
}

.filter-bar {
    line-height: 60px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #c4c4c4;
}

.sort-dropdown,
.show-dropdown,
.grid-wrapper {
    border-right: 1px solid #c4c4c4;
}

.btn-dropdown {
    display: inline-block;
    font-weight: 500;
    color: #212529;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#sort-dropdown {
    margin-left: 30px;
}

.btn-dropdown:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-dropdown:focus {
    outline: 0;
    box-shadow: none;
}

.btn-dropdown:hover {
    text-decoration: none;
}

.icon-grid,
.icon-list {
    text-align: center;
}

.card {
    background: transparent;
    border: none;
}

.card-title-latest-posts {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.card-title-latest-posts:hover {
    text-decoration: none;
    color: #3a3a3a;
}

.card-location-latest-posts {
    margin-top: .5rem;
    font-size: 14px;
    color: #8a8a8a;
    font-weight: 200;
}

.card-body {
    padding: 16px 0;
}

#line {
    padding: 16px;
}

.line {
    background: #c4c4c4;
    height: 1px;
}

#icon-shop {
    padding: 0;
}

.card-price {
    font-weight: bold;
    font-size: 16px;
}

.product-grid {
    padding: 32px;
}

.page-link {
    color: #c4c4c4;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #EC2A2B;
    border-color: #EC2A2B;
}

.page-link:hover {
    z-index: 2;
    color: #EC2A2B;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

/* End CSS Product Grid */

/* CSS Footer */

.first-footer-wrapper {
    margin-bottom: 64px;
}

.about-gasspoll,
.privacy-policy-rules,
.tips,
.payment-method {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.what-gasspoll,
.contact-us,
.site-map,
.privacy-policy,
.general-rule,
.buying-selling-safe,
.use-joint-account,
.text-caption-payment-method {
    color: #AAA;
    font-size: 14px;
}

.what-gasspoll:hover,
.contact-us:hover,
.site-map:hover,
.privacy-policy:hover,
.general-rule:hover,
.buying-selling-safe:hover,
.use-joint-account:hover {
    text-decoration: none;
    color: #7A7A7A;
}

.what-gasspoll-link-wrapper,
.contact-us-link-wrapper,
.privacy-policy-link-wrapper,
.general-rule-link-wrapper,
.buying-selling-safe-link-wrapper,
.use-joint-account-link-wrapper {
    margin-bottom: 8px;
}

.text-caption-payment-method-wrapper {
    margin-bottom: 16px;
}

.image-bank {
    margin-bottom: 16px;
}

.logo-bank-bca,
.logo-bank-bri,
.logo-bank-mandiri,
.logo-bank-bni {
    width: 100%;
}

.secure-payment {
    font-size: 14px;
    color: #AAA;
}

.second-footer-wrapper {
    padding: 64px 0;
    background: #262626;
    width: 100%;
    text-align: center;
}

.text-title-footer {
    color: #FFF;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 24px;
}

.text-copyright {
    color: #AAA;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}

.icon-social-media-wrapper>div {
    padding: 0 20px;
    color: #fff;
    display: inline-block;
}

/* End CSS Footer */