body {
    background: #EC2A2B;
}

#register-wrapper {
    margin: 64px 0;
}

#register-page-wrapper {
    padding: 64px 32px;
}

.logo-gasspoll {
    width: 91px;
    height: 64px;
    margin-bottom: 24px;
}

.text-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 24px;
}

.register-form-wrapper {
    width: 100%;
    background: #FFF;
    padding: 64px 64px;
}

.form-input {
    border: none;
    border-bottom: 1px solid #ddd;
    color: #333;
    font-size: 14px;
    padding: 0.5em 1em 0.5em 0;
    width: 100%;
}

.form-input:focus {
    border-color: #EC2A2B;
    outline: 0;
}

.form-group {
    margin-bottom: 16px;
}

.form form .form-group.hasError input {
    border-color: #f95959 !important;
}

.form form .form-group.hasError label {
    color: #f95959 !important;
}

.form form input:not([type=submit]).hasError {
    border-color: #f95959;
}

.btn {
    width: 100%;
    height: 45px;
    margin-top: 8px;
    margin-bottom: 32px;
    background: #EC2A2B;
    border: #EC2A2B;
    font-weight: bold;
}

.btn:hover {
    color: #fff;
    background-color: #CA0E0E;
    border-color: #CA0E0E;
}

.btn:focus {
    color: #fff;
    background-color: #EC2A2B;
    border-color: #EC2A2B;
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}

.btn:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #EC2A2B;
    border-color: #EC2A2B;
}

a {
    color: #EC2A2B;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #CA0E0E;
}

#banner-register-wrapper {
    background: url("../asset/image/bg-register-page.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: -64px;
    width: 100%;
}

@media (max-width: 576px) {
    #register-page-wrapper {
        padding: 64px 0;
    }

    #register-page-wrapper .row {
        margin: 0;
    }

    .register-form-wrapper {
        padding: 32px
    }

    #password-wrapper,
    #re-password-wrapper {
        padding: 0;
    }
}